[submodule "tools/mattpocock-skills"]
	path = tools/mattpocock-skills
	url = https://github.com/mattpocock/skills
[submodule "tools/ponytail"]
	path = tools/ponytail
	url = https://github.com/DietrichGebert/ponytail
[submodule "tools/taste-skill"]
	path = tools/taste-skill
	url = https://github.com/Leonxlnx/taste-skill
[submodule "tools/threejs-skills"]
	path = tools/threejs-skills
	url = https://github.com/CloudAI-X/threejs-skills.git
